{% extends "page.html" %}
{% from "_concept_hierarchy.html" import render_concept_hierarchy with context -%}

{% block content %}
  <div style="grid-row: 1/2;">
    <h1>Welcome to the OGC Definitions Server - Profiles Register</h1>
    <p>This version of the OGC Definitions Server is for the purpose of publishing "Interoperability Profiles" of OGC and related standards</p>
    <p>This register provides a common consistent view of such profiles and any relationships between them.</p>
    <p>For each profile it provides access to a range of resources needed to implement them via either direct content-negotiation using the profile identifier, or via a "proxy profile" which offers this service on behalf of standards that do not offer implementation resources directly using the standard's own URI.. </p>
    <p>The "alternate profiles" view provided for each resource will provide a complete list of the available resources per profile. <p>
    <p>See the <a href="http://ogc.org/def-server">Definitions Server About Page</a> for more information about the OGC Definitions Server.</p>
    {% if hierarchy is not none %}
      <h3>Key resources</h3>
    <li>The CYBELE Common Semantic Model <a href="http://defs-dev.opengis.net/profiles/object?uri=http%3A//w3id.org/cybele/model" id="uri">http://w3id.org/cybele/model</a></li>
    <ul><li>This is a profile of a range of related semantic models such as OGC GeoSPARQL, DCAT, RDF-QB</li></ul>
    <li>The DEMETER Agriculture Information Model <a href="http://defs-dev.opengis.net/profiles/object?uri=https%3A//w3id.org/demeter/agri" id="uri">https://w3id.org/demeter/agri</a>

       <li>The DEMETER Agriculture Information Model <a href="http://defs-dev.opengis.net/profiles/object?uri=https%3A//w3id.org/demeter/agri" id="uri">https://w3id.org/demeter/agri</a>

    <ul><li>The DEMETER AIM uses the OGC Spatial Feature model with profiles of externally defined agricultural domain models to provide an integrated approach to informational interoperability across the agricultural supply chain.</li></ul>
    

    <p><em>The participation of OGC in the European Union’s Horizon 2020 research and innovation programme projects DataBio (Grant Agreement No 732064), NextGEOSS (Grant Agreement No 730329), DEMETER (Grant Agreement No 857202) and CYBELE (Grant Agreement No 825355) has contributed to the development of The OGC Definitions Server, ensuring that these and future projects can benefit from a free and sustainable service.
    </em></p>
    {% endif %}
    <p>See <a href="{{ url_for('about') }}">About page</a> for more information about VocPrez.</p>
  </div>
{% endblock %}
