<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ label }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='ogc.css') }}">
</head>
<body data-base-url="{{ request.script_root|e }}">
  <div id="vocprez">
    made by <a href="http://github.com/rdflib/VocPrez">VocPrez</a>&nbsp;
    <a id="versionlink" href="https://github.com/RDFLib/VocPrez/releases/tag/{{ utils.version() }}">{{ utils.version() }}</a>
  </div>
  <div id="topmenu">
    <img alt="OGC Logo" style="width:160px;" src="{{ url_for('static', filename='logo-ogc-white-new.png') }}"/>
    <div id="topmenu-links" >
 
      <a href="https://www.ogc.org/about">ABOUT</a>
      <a href="https://www.ogc.org/ogc/join">MEMBERSHIP</a>
      <a href="https://www.ogc.org/standards">STANDARDS &amp; RESOURCES</a>
      <a href="https://www.ogc.org/ogc/programs/ip">INNOVATION</a>
      <a href="https://www.ogc.org/pressroom">NEWS &amp; EVENTS</a>
    </div>
  </div>
  <div id="maingrid">
    <div id="vp-menu">
      {% include 'nav.html' %}
    </div>
    {% block breadcrumbs %}{% endblock %}
    <div id="main" style="display:grid; grid-template-columns: 1fr 250px;">
      {% block content %}{% endblock %}
    </div>
  </div>
  <div id="footerwhite"></div>
  <div id="footermain">
    <ul id="footermain-menu"><li><a href="/about">About</a></li>
      <li><a href="https://www.ogc.org/ogc/join/levels">Membership</a></li>
      <li><a href="https://www.ogc.org/standards">Standards &amp; Resources</a></li>
      <li><a href="https://www.ogc.org/ogc/programs/ip">Innovation</a></li>
      <li><a href="https://www.ogc.org/pressroom">News &amp; Events</a></li>
      <li><a href="https://www.ogc.org/ogc/guidanceltr">Media Guidance</a></li>
    </ul>
    <div style="float:right; font-style:italic;">
      <img alt="OGC Logo white" style="width:200px;" src="{{ url_for('static', filename='logo-ogc-white-new.png') }}"/>
      <p>+1 508 655 5858</p>
      <p>35 Main Street, Suite 5, Wayland, MA,<br />01778, USA</p>
    </div>
  </div>
  <div id="footerblack"></div>
  {% block bottomjs %}{% endblock %}
</body>
</html>
